In [1]:
import mysql.connector as sql

Setting up database connection

In [2]:
mydb = sql.connect(
    host="localhost",
    user="root",
    passwd="root",
    database="green-grid",
    port="3306"
)

mycursor = mydb.cursor()

# Query 1: Peak hour usage per meter

In [3]:
mycursor.execute('''
WITH ranked_usage AS (
  SELECT
    meter_id,
    HOUR(reading_time) AS hour_of_day,
    SUM(units_consumed) AS total_units,
    ROW_NUMBER() OVER (PARTITION BY meter_id ORDER BY SUM(units_consumed) DESC) AS rn
  FROM
    consumption_logs
  GROUP BY
    meter_id, hour_of_day
)
SELECT
  meter_id,
  hour_of_day,
  total_units
FROM
  ranked_usage
WHERE
  rn = 1;
''')
result = mycursor.fetchall()
# Print the table contents
print("PEAK HOUR USAGE PER METER:")
print(" Meter_id | Hour_of_Day | Total_Units")
print("----------|-------------|-------------")
for row in result:
    print(f" {row[0]:<8} | {row[1]:<11} | {row[2]:<1}")

PEAK HOUR USAGE PER METER:
 Meter_id | Hour_of_Day | Total_Units
----------|-------------|-------------
 1        | 18          | 394.70
 2        | 8           | 428.52
 3        | 23          | 369.80
 4        | 0           | 442.21
 5        | 17          | 387.65
 6        | 6           | 474.05
 7        | 18          | 488.68
 8        | 2           | 789.42
 9        | 9           | 422.94
 10       | 14          | 494.21
 11       | 12          | 282.96
 12       | 17          | 382.45
 13       | 19          | 445.97
 14       | 3           | 485.82
 15       | 12          | 368.28
 16       | 7           | 598.33
 17       | 10          | 333.66
 18       | 10          | 419.82
 19       | 6           | 435.41
 20       | 17          | 337.25
 21       | 7           | 453.80
 22       | 17          | 424.12
 23       | 3           | 753.15
 24       | 8           | 469.27
 25       | 15          | 391.14
 26       | 8           | 228.73
 27       | 11          | 420.03
 28       | 1           | 440.10
 29       | 3           | 477.59
 30       | 18          | 419.87
 31       | 21          | 467.70
 32       | 17          | 441.50
 33       | 4           | 456.86
 34       | 0           | 463.38
 35       | 21          | 414.52
 36       | 15          | 756.40
 37       | 16          | 410.79
 38       | 21          | 412.24
 39       | 4           | 441.22
 40       | 23          | 486.59
 41       | 12          | 434.22
 42       | 10          | 344.23
 43       | 4           | 466.16
 44       | 22          | 463.58
 45       | 11          | 324.23
 46       | 14          | 434.03
 47       | 2           | 435.38
 48       | 13          | 340.62
 49       | 11          | 667.80
 50       | 5           | 427.29
 51       | 23          | 476.09
 52       | 18          | 177.11
 53       | 19          | 518.75
 54       | 1           | 474.75
 55       | 7           | 410.13
 56       | 10          | 491.01
 57       | 6           | 423.84
 58       | 2           | 354.74
 59       | 13          | 486.01
 60       | 20          | 474.11
 61       | 19          | 335.24
 62       | 9           | 267.81
 63       | 5           | 179.34
 64       | 19          | 357.38
 65       | 5           | 411.51
 66       | 23          | 189.66
 67       | 8           | 466.67
 68       | 15          | 445.95
 69       | 4           | 465.60
 70       | 14          | 331.52
 71       | 8           | 382.52
 72       | 0           | 468.04
 73       | 20          | 458.93
 74       | 17          | 416.11
 75       | 4           | 461.68
 76       | 14          | 120.16
 77       | 0           | 281.21
 78       | 10          | 684.71
 79       | 17          | 494.23
 80       | 22          | 483.03
 81       | 9           | 113.88
 82       | 15          | 386.14
 83       | 17          | 402.29
 84       | 12          | 349.46
 85       | 6           | 310.63
 86       | 22          | 266.65
 87       | 20          | 432.60
 88       | 8           | 540.20
 89       | 18          | 412.00
 90       | 12          | 709.68
 91       | 5           | 627.97
 92       | 23          | 467.95
 93       | 11          | 251.15
 94       | 4           | 448.81
 95       | 16          | 624.63
 96       | 12          | 295.85
 97       | 22          | 429.62
 98       | 18          | 260.44
 99       | 13          | 343.35
 100      | 2           | 450.84

# Query 2: Zone-wise total energy consumed

In [4]:
mycursor.execute('''
SELECT
    z.zone_id,
    z.zone_name,
    SUM(cl.units_consumed) AS total_units_consumed
FROM
    consumption_logs cl
JOIN
    meters m ON cl.meter_id = m.meter_id
JOIN
    customers c ON m.customer_id = c.customer_id
JOIN
    zones z ON c.zone_id = z.zone_id
GROUP BY
    z.zone_id, z.zone_name
ORDER BY
    z.zone_id ;
''')
result = mycursor.fetchall()
# Print the table contents
print("ZONE-WISE TOTAL ENERGY CONSUMED:")
print(" Zone_id | Zone_Name | Total_Units_Consumed")
print("---------|-----------|----------------------")
for row in result:
    print(f" {row[0]:<7} | {row[1]:<9} | {row[2]:<1}")

ZONE-WISE TOTAL ENERGY CONSUMED:
 Zone_id | Zone_Name | Total_Units_Consumed
---------|-----------|----------------------
 1       | Zone_1    | 9488.99
 2       | Zone_2    | 21745.49
 3       | Zone_3    | 15245.89
 4       | Zone_4    | 19157.86
 5       | Zone_5    | 15993.06

# Query 3: Billing summaries per customer

In [5]:
mycursor.execute('''
SELECT
    c.customer_id,
    c.customer_name,
    COUNT(b.bill_id) AS total_bills,
    SUM(b.amount) AS total_billed_amount,
    SUM(CASE WHEN b.payment_status = 'unpaid' THEN 1 ELSE 0 END) AS unpaid_bills
FROM
    billing b
JOIN
    meters m ON b.meter_id = m.meter_id
JOIN
    customers c ON m.customer_id = c.customer_id
GROUP BY
    c.customer_id, c.customer_name
ORDER BY
    customer_id ;
''')
result = mycursor.fetchall()
# Print the table contents
print("Billing Summaries per Customer:")
print(" Customer_id |       Customer_Name      | Total_Bills | Total_Billed_Amount | Unpaid_Bills")
print("-------------|--------------------------|-------------|---------------------|--------------")
for row in result:
    print(f" {row[0]:<11} | {row[1]:<24} | {row[2]:<12} | {row[3]:<19} | {row[4]:<10}")

Billing Summaries per Customer:
 Customer_id |       Customer_Name      | Total_Bills | Total_Billed_Amount | Unpaid_Bills
-------------|--------------------------|-------------|---------------------|--------------
 1           | Michelle Morales         | 3            | 7923.28             | 2
 2           | Tanya Randall            | 3            | 3032.74             | 2
 3           | Alicia Saunders          | 3            | 5405.68             | 2
 4           | Heather Brown            | 3            | 5575.36             | 1
 5           | Richard Sanchez          | 3            | 6548.63             | 2
 6           | Whitney Kim              | 3            | 4385.41             | 1
 7           | Helen Ramirez            | 3            | 4723.01             | 1
 8           | Marc Gonzalez            | 3            | 7971.46             | 2
 9           | Nicholas Cruz            | 3            | 3698.30             | 2
 10          | John Brown               | 3            | 6402.56             | 1
 11          | Rachel Barry             | 3            | 4779.92             | 3
 12          | Meghan Valentine         | 3            | 3213.93             | 0
 13          | Darlene Chan             | 3            | 5701.72             | 1
 14          | Ian Bernard              | 3            | 4588.20             | 2
 15          | Evelyn Baker             | 3            | 5978.49             | 1
 16          | Sarah Mcguire            | 3            | 5566.72             | 2
 17          | Sandra Johnson           | 3            | 7450.26             | 1
 18          | Christopher Allen        | 3            | 6256.51             | 2
 19          | John Pierce              | 3            | 3730.42             | 1
 20          | Ruben Oconnor            | 3            | 4882.67             | 1
 21          | Margaret Horton          | 3            | 5886.89             | 1
 22          | Michael Blanchard        | 3            | 4046.29             | 1
 23          | Sandra Peterson          | 3            | 6876.53             | 2
 24          | Lisa Gutierrez           | 3            | 6121.12             | 2
 25          | Tyler Perez              | 3            | 4523.03             | 0
 26          | Ashley Henry             | 3            | 3145.34             | 3
 27          | Mrs. Laura Wallace       | 3            | 4966.21             | 2
 28          | Alyssa Nunez             | 3            | 4739.32             | 2
 29          | Dawn Austin              | 3            | 4938.96             | 1
 30          | Michael Adams            | 3            | 3608.87             | 0
 31          | Steven Keith             | 3            | 7503.02             | 1
 32          | Angel Cannon             | 3            | 4812.59             | 1
 33          | Sharon White             | 3            | 6917.79             | 1
 34          | Timothy Estes            | 3            | 6102.74             | 1
 35          | Paula Kemp               | 3            | 3934.73             | 2
 36          | Elizabeth Stephens       | 3            | 6585.66             | 2
 37          | Timothy Shields MD       | 3            | 4223.38             | 0
 38          | William Young            | 3            | 3782.34             | 3
 39          | Jocelyn Sullivan         | 3            | 5480.78             | 0
 40          | Lisa Fuller              | 3            | 4866.68             | 1
 41          | Robert Diaz              | 3            | 4337.74             | 3
 42          | Stephanie Hall           | 3            | 6465.52             | 1
 43          | Samuel Mitchell          | 3            | 4008.85             | 1
 44          | Alyssa Ramirez           | 3            | 5889.69             | 1
 45          | Carolyn White            | 3            | 4620.25             | 2
 46          | Danielle Webster         | 3            | 5015.45             | 1
 47          | Bobby Wilcox             | 3            | 6688.57             | 0
 48          | Kristin Hanson           | 3            | 3569.76             | 1
 49          | George Scott             | 3            | 4441.23             | 0
 50          | Jessica Reynolds         | 3            | 5521.76             | 0
 51          | Matthew Clark            | 3            | 4745.59             | 2
 52          | Andrea Brown             | 3            | 4582.29             | 1
 53          | Willie Ward              | 3            | 2758.31             | 1
 54          | Jacqueline Mccoy         | 3            | 5361.16             | 2
 55          | Jason Ortiz              | 3            | 3251.14             | 3
 56          | Sarah Herrera            | 3            | 3883.97             | 3
 57          | Jason Bird               | 3            | 5869.68             | 1
 58          | Mrs. Whitney Edwards DDS | 3            | 6594.15             | 3
 59          | David Jones              | 3            | 4847.84             | 1
 60          | Ashley Lee               | 3            | 4684.52             | 1
 61          | William Cooper           | 3            | 6567.36             | 1
 62          | Christina Thompson       | 3            | 5201.07             | 2
 63          | Benjamin Martin          | 3            | 7707.33             | 2
 64          | Tony Allen               | 3            | 3202.11             | 0
 65          | Taylor Smith             | 3            | 5397.14             | 1
 66          | Martin Andrade           | 3            | 4784.66             | 0
 67          | Anna Hall                | 3            | 5120.00             | 3
 68          | Donald Williams          | 3            | 5240.64             | 1
 69          | Walter Randolph          | 3            | 4214.38             | 2
 70          | Ryan Foster              | 3            | 5759.33             | 2
 71          | Frank Hall               | 3            | 7305.03             | 0
 72          | Steven Weaver            | 3            | 4336.63             | 0
 73          | Andrew Becker            | 3            | 5590.13             | 1
 74          | Amy Mason                | 3            | 4177.99             | 2
 75          | Robert Green             | 3            | 6179.84             | 2
 76          | Jennifer Lucas           | 3            | 2276.97             | 2
 77          | Elizabeth Garcia         | 3            | 6641.07             | 2
 78          | Alexander Davis          | 3            | 7929.59             | 2
 79          | Teresa Lee               | 3            | 5475.32             | 2
 80          | Jason Waller             | 3            | 4948.92             | 2
 81          | Brian Franklin           | 3            | 7215.84             | 3
 82          | Hailey Long              | 3            | 2686.66             | 1
 83          | Katie Garcia             | 3            | 5473.47             | 2
 84          | Denise Marsh             | 3            | 6855.18             | 0
 85          | Mark Ramsey              | 3            | 5984.66             | 2
 86          | Amy Kelley               | 3            | 5239.87             | 3
 87          | Rachel David             | 3            | 4610.86             | 2
 88          | David Rogers             | 3            | 6535.51             | 3
 89          | Jessica Lee              | 3            | 5245.87             | 1
 90          | Jennifer Weeks           | 3            | 6103.50             | 3
 91          | Joseph Smith             | 3            | 4068.71             | 0
 92          | Karen Thornton           | 3            | 3772.28             | 1
 93          | Melissa Yang             | 3            | 5467.86             | 0
 94          | Eric Garrison            | 3            | 7217.16             | 2
 95          | Michelle Ochoa           | 3            | 4947.85             | 3
 96          | Justin Cooper            | 3            | 5865.47             | 2
 97          | April Hull               | 3            | 7430.60             | 2
 98          | Rachel Howell            | 3            | 3969.20             | 2
 99          | James White              | 3            | 2640.39             | 0
 100         | Jennifer Walker          | 3            | 3514.94             | 2

Closing All Database Instances

In [6]:
mydb.close()
mycursor.close()

True